<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>Recommendations for {{ search_name }}</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/5.0.0/normalize.min.css">
  <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Poppins:300,500&amp;display=swap'>
  <script src="https://kit.fontawesome.com/a076d05399.js"></script>
  <link rel="stylesheet" href="./static/found.css">
</head>

<body>
  <h2 style="text-align: center;">
    <u style="color: #fff;">Movie Recommendations for "{{ search_name }}"</u>
  </h2>
  <div class="movies-container">

    {% for i in range(10) %}
    <div class="movie-card">
      <h3><a href="{{ movie_homepage[i] }}" target="_blank">{{ movie_names[i] }}</a></h3>
      <p>Release Date: {{ movie_releaseDate[i] }}</p>
      <!-- You can add more information here if needed -->
    </div>
    {% endfor %}
  </div>
  <button
    style="margin-left: 650px; margin-bottom: 100px; width: 190px; height: 50px; background-color: crimson; color: white; border-radius: 30px; border: none; cursor: pointer;"
    onClick={window.history.back()}>Back to Home Page</button>

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
  <!-- You can keep other script tags if needed -->
</body>

</html>